<!-- Always shows a header, even in smaller screens. -->
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Audio and Video Testing - POC</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="">Bash script execution</a>
      <a class="mdl-navigation__link" href="">Open Sound Communication</a>
      <a class="mdl-navigation__link" href="">Multi-channel audio</a>
      <a class="mdl-navigation__link" href="">Sample rates</a>
      <a class="mdl-navigation__link" href="">Playback precision</a>
      <a class="mdl-navigation__link" href="">Audio-Video sync precision</a>
      <a class="mdl-navigation__link" href="">Media error checking</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Audio and Video Testing - Proof of concept</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Bash script execution</a>
      <a class="mdl-navigation__link" href="">Open Sound Communication</a>
      <a class="mdl-navigation__link" href="">Multi-channel audio</a>
      <a class="mdl-navigation__link" href="">Sample rates</a>
      <a class="mdl-navigation__link" href="">Playback precision</a>
      <a class="mdl-navigation__link" href="">Audio-Video sync precision</a>
      <a class="mdl-navigation__link" href="">Media error checking</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        <!-- Your content goes here -->
        <h5>This application is for proof of concept of some areas in audio and video playback and precision in browsers</h1>
    </div>
  </main>
</div>