<!-- Always shows a header, even in smaller screens. -->

<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Audio Video test - POC</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" routerLink="/bash">Bash Script</a>
          <a class="mdl-navigation__link" routerLink="/osc">Open Sound Communication</a>
          <a class="mdl-navigation__link" routerLink="/multichannel">Multi-channel audio</a>
          <a class="mdl-navigation__link" routerLink="/samplerates">Sample rates</a>
          <a class="mdl-navigation__link" routerLink="/playbackprecision">Playback precision</a>
          <a class="mdl-navigation__link" routerLink="/syncprecision">Audio-Video sync precision</a>
          <a class="mdl-navigation__link" routerLink="/mediaerrorchecking">Media error checking</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Audio and Video Testing - Proof of concept</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="/bash">Bash Script</a>
        <a class="mdl-navigation__link" routerLink="/osc">Open Sound Communication</a>
        <a class="mdl-navigation__link" routerLink="/multichannel">Multi-channel audio</a>
        <a class="mdl-navigation__link" routerLink="/samplerates">Sample rates</a>
        <a class="mdl-navigation__link" routerLink="/playbackprecision">Playback precision</a>
        <a class="mdl-navigation__link" routerLink="/syncprecision">Audio-Video sync precision</a>
        <a class="mdl-navigation__link" routerLink="/mediaerrorchecking">Media error checking</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
        <router-outlet></router-outlet>
        <!-- Your content goes here -->
        <!--<h5>This application is for proof of concept of some areas in audio and video playback and precision in browsers</h5>-->
    </div>
  </main>
</div>